*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.primary-heading__main {
  font-family: "Source Sans Pro";
  display: block;
  font-size: 3.2rem;
  font-weight: 600;
  text-align: center; }

.primary-heading__sub {
  display: block;
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: -1px;
  text-align: justify; }

.secondary-heading {
  font-family: "Source Sans Pro";
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600; }

.tertiary-heading {
  font-family: "Source Sans Pro";
  font-size: 2rem;
  font-weight: 300; }

.fourth-heading {
  font-family: "Source Sans Pro";
  font-size: 1.5rem;
  font-weight: 300; }

.u-center-text {
  text-align: center; }

.u-margin-bottom--medium {
  margin-bottom: 4rem; }

.u-margin-bottom--small {
  margin-bottom: 2rem; }

.u-margin-bottom--thin {
  margin-bottom: 1rem; }

.u-margin-right--small {
  margin-right: 2rem; }

.u-padding--small {
  padding: 2rem; }

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.3%; }

.col-5 {
  width: 41.66%; }

.col-6-margin {
  width: calc((100% - 2rem) / 2); }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

.col--mobile {
  width: 100%; }

.header {
  width: 100%;
  border-bottom: 1px solid #eee;
  margin-bottom: 2rem; }
  .header__image-box {
    position: relative;
    margin-bottom: 2rem; }
  .header__image-box {
    height: 2rem; }
  .header__logo-box {
    position: absolute;
    left: -1rem; }
  .header__hamburger-box {
    position: absolute;
    right: 0;
    top: 1px; }
  .header__logo {
    height: 4rem; }
  .header__hamburger-image {
    height: 1.5rem; }
  .header .search-box {
    margin-bottom: 1rem; }
    .header .search-box__input {
      width: 100%;
      height: 3rem;
      border: 1.3px solid #eee;
      padding: 1rem;
      border-radius: 0.4rem;
      background-image: url(../img/search.svg);
      background-repeat: no-repeat;
      background-position: right; }

.footer {
  font-size: 1.6rem; }
  .footer--simple {
    height: 8rem; }
  .footer__menu-item-box {
    position: relative;
    height: 4rem;
    border-bottom: 1px solid #eee; }
  .footer__menu-item {
    height: 4rem;
    padding-top: 1rem;
    color: #0e0e0e;
    display: block;
    text-align: center;
    text-decoration: none; }
    .footer__menu-item--right-border {
      border-right: 1px solid #eee; }
  .footer__text {
    width: 40%;
    margin: 0 auto;
    padding-top: 4rem;
    position: relative; }
  .footer__text-heading {
    display: inline;
    font-weight: 300; }
  .footer__img-box {
    position: absolute;
    top: 3.8rem;
    left: 7.5rem; }
  .footer__img {
    height: 4.5rem; }

.btn:link, .btn:visited {
  text-decoration: none;
  font-size: 1.6rem;
  border-radius: 10rem;
  padding: 0.7rem 4.5rem;
  display: inline-block;
  transition: transform 0.2s; }

.btn--primary {
  background-color: #e90052;
  color: #fff; }

.btn:hover, .btn:focus {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(14, 14, 14, 0.2); }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(14, 14, 14, 0.2); }

.btn-text:link, .btn-text:visited {
  text-decoration: none;
  font-size: 1rem;
  border-radius: 12rem;
  display: inline-block;
  transition: transform 0.2s;
  background-color: #fff;
  border: 1px solid #dbe1eb;
  padding: 0.1rem 2rem;
  color: #dbe1eb; }

.btn-text:hover, .btn-text:focus {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(14, 14, 14, 0.2);
  border: 1px solid #e90052; }

.btn-text:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(14, 14, 14, 0.2);
  border: 1px solid #e90052; }

.tab-head__btn:link, .tab-head__btn:visited {
  text-decoration: none;
  font-size: 1.6rem;
  display: inline-block;
  transition: transform 0.2s;
  padding: 0 1rem; }

.tab-head__btn--active {
  color: #0e0e0e; }

.tab-head__btn--dull {
  color: #dbe1eb; }

.tab-head__btn:hover, .tab-head__btn:focus {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(14, 14, 14, 0.2);
  border: 1px solid #e90052; }

.tab-head__btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(14, 14, 14, 0.2);
  border: 1px solid #e90052; }

/* Slideshow container */
.slideshow-box {
  position: relative;
  margin: auto;
  /* Hide the images by default */ }
  .slideshow-box__slide {
    display: none;
    margin: 0 2.5rem; }
  .slideshow-box__image {
    width: 88%;
    height: 9.5rem; }

/* Next & previous buttons */
.prev,
.next {
  font-size: 1.8rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -22px;
  font-weight: bold;
  transition: 0.6s ease; }

/* Position the "next button" to the right */
.next {
  right: 0; }

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

.feature {
  font-size: 1.6rem; }
  .feature__img-level-3-box {
    height: 13rem;
    width: 13rem;
    margin: 0 auto;
    border-radius: 2.5rem;
    background-color: #38003c;
    border: 0.5px solid #fff;
    position: relative; }
  .feature__img-level-2-box {
    height: 11rem;
    width: 11rem;
    position: absolute;
    background-color: #fff;
    top: 50%;
    left: 50%;
    border-radius: 2rem;
    transform: translate(-50%, -50%); }
  .feature__img-innerbox {
    width: 70%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .feature__img {
    height: 100%;
    width: 70%;
    display: block;
    margin: 0 auto; }
  .feature__text-box {
    width: 90%;
    margin: 0 auto; }
  .feature__heading {
    text-align: center; }
  .feature__paragraph {
    text-align: justify;
    font-weight: 300; }

.bank-box {
  border-bottom: 2px solid #e90052;
  box-shadow: 0 0.5rem 2rem rgba(14, 14, 14, 0.1); }
  .bank-box__header {
    text-align: center; }
  .bank-box__logo {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 1rem; }
  .bank-box__img {
    height: 5rem;
    width: 7rem; }
  .bank-box__footer {
    width: 20%;
    margin: 0 auto;
    margin-bottom: 1rem; }

.tab-head {
  height: 3rem;
  border-bottom: 1px solid #eee; }
  .tab-head--active {
    border-bottom: 3px solid #0e0e0e; }
  .tab-head__content {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 1rem; }

.rectangle-box {
  height: 6rem;
  width: 100%;
  display: flex;
  position: relative;
  color: #eee;
  border-bottom: 1px solid #eee; }
  .rectangle-box__link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1; }
  .rectangle-box__img-box {
    width: 20%;
    padding: 1.5rem; }
  .rectangle-box__img {
    height: 3.5rem;
    width: 5rem; }
  .rectangle-box__text-box {
    width: 60%;
    padding: 1.5rem;
    padding-left: 0.5rem; }
  .rectangle-box__arrow-box {
    width: 10%;
    padding: 1.5rem;
    font-size: 1.6rem; }
  .rectangle-box--registration:hover {
    background-color: #dbe1eb;
    color: #0e0e0e; }
    .rectangle-box--registration:hover .rectangle-box__img {
      content: url(../img/registration_clear.svg); }
  .rectangle-box--mandate:hover {
    background-color: #dbe1eb;
    color: #0e0e0e; }
    .rectangle-box--mandate:hover .rectangle-box__img {
      content: url(../img/mandate_clear.svg); }
  .rectangle-box--transfer:hover {
    background-color: #dbe1eb;
    color: #0e0e0e; }
    .rectangle-box--transfer:hover .rectangle-box__img {
      content: url(../img/transfer_clear.svg); }
  .rectangle-box--account_opening:hover {
    background-color: #dbe1eb;
    color: #0e0e0e; }
    .rectangle-box--account_opening:hover .rectangle-box__img {
      content: url(../img/account_opening_clear.svg); }
  .rectangle-box--change_details:hover {
    background-color: #dbe1eb;
    color: #0e0e0e; }
    .rectangle-box--change_details:hover .rectangle-box__img {
      content: url(../img/change_details_clear.svg); }
  .rectangle-box--internet_banking:hover {
    background-color: #dbe1eb;
    color: #0e0e0e; }
    .rectangle-box--internet_banking:hover .rectangle-box__img {
      content: url(../img/internet_banking_clear.svg); }
  .rectangle-box--cards:hover {
    background-color: #dbe1eb;
    color: #0e0e0e; }
    .rectangle-box--cards:hover .rectangle-box__img {
      content: url(../img/cards_clear.svg); }
  .rectangle-box--loans:hover {
    background-color: #dbe1eb;
    color: #0e0e0e; }
    .rectangle-box--loans:hover .rectangle-box__img {
      content: url(../img/loans_clear.svg); }
  .rectangle-box--investement:hover {
    background-color: #dbe1eb;
    color: #0e0e0e; }
    .rectangle-box--investement:hover .rectangle-box__img {
      content: url(../img/investement_clear.svg); }
  .rectangle-box--complaints:hover {
    background-color: #dbe1eb;
    color: #0e0e0e; }
    .rectangle-box--complaints:hover .rectangle-box__img {
      content: url(../img/complaints_clear.svg); }

.form-box {
  height: 7rem;
  display: flex;
  width: 90%;
  margin: 0 auto;
  border-radius: 3px;
  box-shadow: 1rem 1rem 3rem rgba(14, 14, 14, 0.2); }
  .form-box__img-box {
    width: 13%;
    background-color: #dbe1eb; }
  .form-box__img-innerbox {
    width: 4rem;
    margin: 0 auto;
    margin-top: 1.5rem; }
  .form-box__img {
    height: 4rem;
    width: 4rem; }
  .form-box__text-box {
    width: 64%;
    padding-top: 2rem;
    padding-left: 0.5rem; }
  .form-box__timer-box {
    width: 23%; }
  .form-box__timer-innerbox {
    position: relative;
    margin-left: 1rem;
    padding-top: 0.3rem; }
  .form-box__timer {
    height: 6rem; }
  .form-box__timer-text {
    position: absolute;
    left: 1.8rem;
    top: 2.4rem; }

.pagination {
  width: 60%;
  margin: 0 auto;
  font-size: 1.6rem; }
  .pagination__items {
    list-style: none; }
  .pagination__item {
    display: inline-block;
    height: 4rem;
    width: 4rem;
    border-radius: 1.5rem;
    font-size: 2rem;
    border: 1px solid #eee;
    border-radius: 0.9rem; }
    .pagination__item--page-number {
      padding-left: 1.2rem; }
    .pagination__item:first-child {
      padding-left: 0.5rem; }
    .pagination__item:last-child {
      padding-left: 1rem; }
    .pagination__item--disable {
      background-color: #eee; }
    .pagination__item--active {
      background-color: #0e0e0e;
      color: #fff; }

.header-box {
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem; }

.hero-section .hero-text-box {
  text-align: center; }

.partners-section {
  padding: 5rem 2rem; }

.features-section {
  padding: 3rem 0;
  color: #fff;
  font-family: "lato";
  background-image: url(../img/mobile-background.svg); }

.banks-section {
  padding: 0 2rem; }
