*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.primary-heading__main {
  font-family: "Source Sans Pro";
  display: block;
  font-size: 3.2rem;
  font-weight: 600;
  text-align: center; }

.primary-heading__sub {
  display: block;
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: -1px;
  text-align: justify; }

.secondary-heading {
  font-family: "Source Sans Pro";
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600; }

.tertiary-heading {
  font-family: "Source Sans Pro";
  font-size: 2rem;
  font-weight: 300; }

.u-center-text {
  text-align: center; }

.u-margin-bottom--medium {
  margin-bottom: 4rem; }

.u-margin-bottom--small {
  margin-bottom: 2rem; }

.u-margin-right--small {
  margin-right: 2rem; }

.u-padding--small {
  padding: 2rem; }

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.3%; }

.col-5 {
  width: 41.66%; }

.col-6--margin {
  width: calc((100% - 3rem) / 2); }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

.col--mobile {
  width: 100%; }

.header {
  width: 100%;
  border-bottom: 1px solid #dbe1eb;
  margin-bottom: 2rem; }
  .header__image-box {
    position: relative;
    margin-bottom: 2rem; }
  .header__image-box {
    height: 2rem; }
  .header__logo-box {
    position: absolute;
    left: -1rem; }
  .header__hamburger-box {
    position: absolute;
    right: 0;
    top: 1px; }
  .header__logo {
    height: 4rem; }
  .header__hamburger-image {
    height: 1.5rem; }
  .header .search-box {
    margin-bottom: 1rem; }
    .header .search-box__input {
      width: 100%;
      height: 3rem;
      border: 1.3px solid #dbe1eb;
      padding: 1rem;
      border-radius: 0.4rem;
      background-image: url(../img/search.svg);
      background-repeat: no-repeat;
      background-position: right; }

.footer__menu-item-box {
  position: relative;
  height: 4rem;
  border-bottom: 1px solid #eee; }

.footer__menu-item {
  height: 4rem;
  padding-top: 1rem;
  display: block;
  text-align: center; }
  .footer__menu-item--right-border {
    border-right: 1px solid #eee; }

.btn:link, .btn:visited {
  text-decoration: none;
  font-size: 1.6rem;
  border-radius: 10rem;
  padding: 0.7rem 4.5rem;
  display: inline-block;
  transition: transform 0.2s; }

.btn--primary {
  background-color: #e90052;
  color: #fff; }

.btn:hover, .btn:focus {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(14, 14, 14, 0.2); }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(14, 14, 14, 0.2); }

/* Slideshow container */
.slideshow-box {
  position: relative;
  margin: auto;
  /* Hide the images by default */ }
  .slideshow-box__slide {
    display: none;
    margin: 0 2.5rem; }
  .slideshow-box__image {
    width: 88%;
    height: 9.5rem; }

/* Next & previous buttons */
.prev,
.next {
  font-size: 1.8rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -22px;
  font-weight: bold;
  transition: 0.6s ease; }

/* Position the "next button" to the right */
.next {
  right: 0; }

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

.feature {
  font-size: 1.6rem; }
  .feature__img-level-3-box {
    height: 13rem;
    width: 13rem;
    margin: 0 auto;
    border-radius: 2.5rem;
    background-color: #38003c;
    border: 0.5px solid #fff;
    position: relative; }
  .feature__img-level-2-box {
    height: 11rem;
    width: 11rem;
    position: absolute;
    background-color: #fff;
    top: 50%;
    left: 50%;
    border-radius: 2rem;
    transform: translate(-50%, -50%); }
  .feature__img-innerbox {
    width: 70%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .feature__img {
    height: 100%;
    width: 70%;
    display: block;
    margin: 0 auto; }
  .feature__text-box {
    width: 90%;
    margin: 0 auto; }
  .feature__heading {
    text-align: center; }
  .feature__paragraph {
    text-align: justify;
    font-weight: 300; }

.header-box {
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem; }

.hero-section .hero-text-box {
  text-align: center; }

.partners-section {
  padding: 5rem 2rem; }

.features-section {
  padding: 3rem 0;
  color: #fff;
  font-family: "lato";
  background-image: url(../img/mobile-background.svg); }
