*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  padding: 3rem;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.primary-header__main {
  font-family: "Source Sans Pro";
  display: block;
  font-size: 3.2rem;
  font-weight: 600;
  text-align: center; }

.primary-header__sub {
  display: block;
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: -1px;
  text-align: justify; }

.margin-bottom--medium {
  margin-bottom: 4rem; }

.margin-bottom--small {
  margin-bottom: 2rem; }

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.3%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

.col-6--mobile {
  width: 100%; }

.header {
  width: 100%;
  border-bottom: 1px solid #dbe1eb;
  margin-bottom: 2rem; }
  .header__image-box {
    position: relative;
    margin-bottom: 2rem; }
  .header__image-box {
    height: 2rem; }
  .header__logo-box {
    position: absolute;
    left: -1rem; }
  .header__hamburger-box {
    position: absolute;
    right: 0;
    top: 1px; }
  .header__logo {
    height: 4rem; }
  .header__hamburger-image {
    height: 1.5rem; }
  .header .search-box {
    margin-bottom: 1rem; }
    .header .search-box__input {
      width: 100%;
      height: 3rem;
      border: 1.3px solid #dbe1eb;
      padding: 1rem;
      border-radius: 0.4rem;
      background-image: url(../img/search.svg);
      background-repeat: no-repeat;
      background-position: right; }

.btn:link, .btn:visited {
  text-decoration: none;
  font-size: 1.6rem;
  border-radius: 10rem;
  padding: 0.7rem 4.5rem;
  display: inline-block;
  transition: transform 0.2s; }

.btn--primary {
  background-color: #e90052;
  color: #fff; }

.btn:hover, .btn:focus {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(14, 14, 14, 0.2); }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(14, 14, 14, 0.2); }

.hero-section {
  margin-bottom: 4rem; }
  .hero-section .hero-text-box {
    text-align: center; }
