// Distance

$big-gutter: 6rem;
$medium-gutter: 4rem;
$small-gutter: 2rem;
$small-right-gutter: 3rem;
$thin-gutter: 1rem;
$padding-small: 3rem;

$color-primary: #38003c;
$color-secondary: #e90052;
$color-gray: #dbe1eb;
$color-black: #0e0e0e;
$color-white: #fff;

// Font
$default-font: 1.6rem;
