// Distance

$big-gutter: 6rem;
$small-gutter: 2rem;
$medium-gutter: 4rem;

$color-primary: #38003c;
$color-secondary: #e90052;
$color-gray: #dbe1eb;
$color-black: #0e0e0e;
$color-white: #fff;

// Font
$default-font: 1.6rem;
