.mob-tab-head {
  width: 50%;
  height: 3rem;
  border-bottom: 1px solid $color-gray-light;
  &--active {
    border-bottom: 3px solid $color-black;
  }

  &__content {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}

.des-tab-head-section {
  height: 4.3rem;
  border-bottom: 2px solid $color-black;
}
