.u-center-text {
  text-align: center;
}

.u-margin-bottom--medium {
  margin-bottom: $medium-gutter;
}

.u-margin-bottom--small {
  margin-bottom: $small-gutter;
}

.u-margin-bottom--thin {
  margin-bottom: $thin-gutter;
}

.u-margin-right--small {
  margin-right: $small-gutter;
}

.u-padding--small {
  padding: $small-gutter;
}
