.thank-you {
  &__main {
    .related-forms {
      padding: 0 3rem;
    }
  }

  &__img-box {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  &__img {
    width: 100%;
    height: 32rem;
    margin-left: 2rem;
  }

  &__text-box {
    margin: 0 auto;
    text-align: center;
  }
}
