@media screen and (min-width: 900px) {
  .header {

    &-desktop {

      &__btn {
        padding-left: 2.3rem;
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .header {
    padding: 0 8rem;

    &-desktop {
      &__nav-item {
        font-size: 1.8rem;
      }
      &__logo {
        height: 7rem;
        width: 12rem;
      }
      &__search-box {
        width: 76%;
      }

      &__btn {
        width: 24%;
        padding-left: 3rem;
      }
    }
  }

  .hero__images {
    height: 66rem;
  }

  .primary-heading {
    &__main {
      font-size: 6rem;
    }
    &__sub {
      font-size: 2rem;
    }
  }
  .hero__text-box {
    .btn--primary {
      padding: 1rem 4.5rem;
      font-size: 1.8rem;
    }
  }

  .partner {
    &__img-box {
      height: 17rem;
      width: 17rem;
    }
    &__image {
      height: 16rem;
      width: 16rem;
    }
  }
  .partners-box {
    width: 46%;
  }

  .secondary-heading {
    font-size: 2.5rem;
  }

  .feature {
    width: 75%;
    margin: 0 auto;
    &-heading {
      margin-bottom: 4rem;
    }
  }
}

@media screen and (min-width: 1050px) {
  .header {
    padding: 0 10rem;
  }
}

@media screen and (min-width: 1250px) {
  .header {
    padding: 0 12rem;

    &-desktop {
      &__nav-item {
        font-size: 1.8rem;
      }
      &__logo {
        height: 7rem;
        width: 12rem;
      }
      &__search-box {
        width: 80%;
      }

      &__btn {
        width: 20%;
      }
    }
  }
}

@media screen and (min-width: 1460px) {
  .header {
    padding: 0 12rem;

    &-desktop {
      &__nav-item {
        font-size: 1.8rem;
      }
      &__logo {
        height: 7rem;
        width: 12rem;
      }
      &__search-box {
        width: 84%;
      }

      &__btn {
        width: 14%;
      }
    }
  }
}
