.footer {
  &__menu-item-box {
    position: relative;
    height: 4rem;
    border-bottom: 1px solid #eee;
  }

  &__menu-item {
    height: 4rem;
    padding-top: 1rem;
    display: block;
    text-align: center;

    &--right-border {
      border-right: 1px solid #eee;
    }
  }
}
