.footer {
  font-size: $default-font;

  &--simple {
    height: 8rem;
  }

  &__menu-item-box {
    position: relative;
    height: 4rem;
    border-bottom: 1px solid #eee;
  }

  &__menu-item {
    height: 4rem;
    padding-top: 1rem;
    color: $color-black;

    display: block;
    text-align: center;
    text-decoration: none;

    &--right-border {
      border-right: 1px solid #eee;
    }
  }

  &__text {
    width: 40%;
    margin: 0 auto;
    padding-top: 4rem;
    position: relative;
  }

  &__text-heading {
    display: inline;
    font-weight: 300;
  }

  &__img-box {
    position: absolute;
    top: 3.8rem;
    left: 7.5rem;
  }
  &__img {
    height: 4.5rem;
  }
}
