@media screen and (max-width: 800px) {
  .desktop {
    display: none;
  }

  .hero__desktop-picture {
    display: none;
  }

  .col-6 {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  .col-4 {
    width: 100%;
  }

  .col-2 {
    margin-bottom: 2rem;
  }

  .footer-desktop {
    display: none;
  }

  .form-page__main {
    .breath {
      padding: 0;
      padding-top: 0;
    }
  }

  // Search Result
  .bank-box__logo {
    padding-top: 1rem;
  }
}
